*{
	margin:0;
	padding:0;
}
*,*:before,*:after{
	box-sizing:border-box;
}
ul{list-style:none;}
.bottomNavWrap{
	position:fixed;
	width:100%;
	height:50px;
	left:0;
	bottom:0;
	z-index:123;
}
.bottomNav{
	height:50px;
	background-color:#3a3a3a;
}
.bottomNavItems{
	position:relative;
	height:50px;
	width:25%;
	float:left;
	text-align:center;
}
.bottomNavIcoWrap{
	text-align:center;
	height:30px;
	padding-top:6px;
}
.bottomNavIco{
	display:inline-block;
	width:22px;
	height:22px;
}
.bottomNavIco1{
	background-image:url(/public/img/ico1.png);
	background-position:0 0;
	background-size:22px;
}
.bottomNavIco2{
	background-image:url(/public/img/ico2.png);
	background-position:0 0;
	background-size:22px;
}
.bottomNavIco3{
	background-image:url(/public/img/ico3.png);
	background-position:0 0;
	background-size:22px;
}
.bottomNavIco4{
	background-image:url(/public/img/ico4.png);
	background-position:0 0;
	background-size:22px;
}
.bottomNavIco5{
	background-image:url(/public/img/ico5.png);
	background-position:0 0;
	background-size:22px;
}
.bottomNavTitle{
	font-size:11px;
	color:#fff;
	opacity:0.5;
}
.bottomNavItemsCur .bottomNavTitle{
	opacity:1;
}
.bottomNavHref{
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}
.navLinkActive,.navLink{
	text-decoration:none;
}
.navLinkActive .bottomNavTitle{
	opacity:1;
	font-weight:bold;
	text-decoration:none;
}
.navLinkActive .bottomNavIco1,
.navLinkActive .bottomNavIco2,
.navLinkActive .bottomNavIco3,
.navLinkActive .bottomNavIco4,
.navLinkActive .bottomNavIco5{
	background-position:0 -22px;
}