.content{
	width:100%;
	padding:15px;
}
.logoWrap{
	text-align:center;
	padding:15px 0 30px 0;
}
.logo{
	width:64px;
	height:64px;
	background-size:64px;
}
.formItemWrap{
	width:100%;
	min-height:132px;
	border-radius:10px;
	padding-top:14px;
	background-color:#ebebeb;
}
.formItems{
	position:relative;
	padding:0px 40px 0px 100px;
	height:36px;
	margin-bottom:14px;
}
.formLabel{
	position:absolute;
	display:block;
	width:80px;
	height:36px;
	line-height:36px;
	font-size:18px;
	color:#373c46;
	left:10px;
	top:50%;
	margin-top:-18px;
}
.formInput{
	width:100%;
	height:36px;
	line-height:36px;
	text-align:right;
	padding-right:26px;
	padding-left:26px;
	border-radius:36px;
	outline:none;
	border:none;
	font-size:20px;
	color:#dc5757;
	background-color:#fff;
}
.formUnit{
	position:absolute;
	display:block;
	height:20px;
	line-height:20px;
	right:20px;
	bottom:15px;
	font-size:14px;
	color:#373c46;
}
.resultTitle{
	padding:10px;
	font-size:18px;
	color:#373c46;
}
.btn{
	display:block;
	height:40px;
	line-height:40px;
	text-align:center;
	border-radius:10px;
	color:#fff;
	font-size:20px;
	margin-top:-30px;
	cursor:pointer;
	text-shadow:0 1px 1px #000;
	background-color:#1b9aff;
}
.tips{
	padding-top:10px;
	padding-bottom:20px;
	line-height:20px;
	color:#c2c2c2;
	font-size:15px;
}
.mask{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:10;
}
.maskBg{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.53;
	left:0;
	top:0;
	z-index:-11;
}
.maskBody{
	width:100%;
	max-width:1000px;
	margin:0 auto;
	padding:240px 30px 30px 30px;
	z-index:90;
}
.maskContent{
	min-height:110px;
	background-color:#fff;
	border-radius:14px;
}
.maskTip{
	min-height:70px;
	text-align:center;
	font-size:20px;
	padding-top:25px;
	color:#404040;
}
.maskBtn{
	min-height:40px;
	line-height:40px;
	text-align:center;
	color:#eb5c5c;
	font-size:20px;
	cursor:pointer;
	border-top:1px solid #dcdcdc;
}