.navWrap{
	width:100%;
	height:40px;
	background-color:#fff;
}
.navItems{
	float:left;
	width:25%;
	height:40px;
	line-height:40px;
	text-align:center;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.navItemsHref{
	display:inline-block;
	height:40px;
	padding:0 10px;
	line-height:40px;
	font-size:16px;
	color:#333;
	opacity:0.5;
	cursor:pointer;
	text-decoration:none;
}
.hotLinkActive .navItemsHref{
	opacity:1;
	border-bottom:3px solid #333;
}
.newsItems{
	position:relative;
	min-height:110px;
	padding:15px 10px;
	border-bottom:1px solid #d7d7d7;
}
.newsHref{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:2;
}
.newsItemsLeftBlock{
	position:absolute;
	width:120px;
	height:80px;
	left:15px;
	top:15px;
}
.newsItemsLeftBlock > img{
	width:120px;
	height:80px;
	background-size:120px 80px;
}
.newsItemsRightBlock{
	padding-left:140px;
	min-height:80px;
	padding-top:4px;
}
.newsTitle{
	width:8em;
	line-height:22px;
	height:44px;
	font-size:16px;
	color:#333;
	font-weight:normal; 
	overflow:hidden;
}
.newsCountWrap{
	position:relative;
	height:24px;
	line-height:24px;
	font-size:12px;
	text-align:right;
	margin-top:5px;
	color:#999;
}
.newsTime{
	position:absolute;
	left:4px;
	top:0;
}
.banner{
	width:100%;
	height:200px;
}
.banner  img{
	width:100%;
	height:100%;
}
.Link{text-decoration:none;}