*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
*{margin:0;padding:0;}
.clearfix:after {
	clear:both;
	content:'';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
/*33*/
body{
	background-color:#F5F5F5;
}
.wrap_33{
	padding:3px;
}
.mb_33{
	margin-bottom:3px;
}
.rb_33 a,.bitem_33 > div  a{
	display:block;
	width:100%;
	height:100%;
}
.rb_33 img,.bitem_33 div,.bitem_33 > div img{
	width:100%;
	height:100%;
}
.bitem_33{
	width:50%;
	float:left;
}
.mb_33 .bitem_33:nth-child(odd){
	padding-right:2px;
}
.mb_33 .bitem_33:nth-child(even){
	padding-left:2px;
}
.tip_33{
	position:relative;
	height:22px;
	padding-left:28px;
	overflow:hidden;
	background-color:#fff;
}
.tip_33 .ico_33{
	display:block;
	width:10px;
	height:10px;
	position:absolute;
	left:8px;
	top:50%;
	margin-top:-5px;
	background-image:url(/public/img/tip.png);
	background-size:10px;
}
.tItem_33 li{
	height:22px;
	line-height:22px;
	font-size:11px;
	color:#000000;
}
.tItem_33  li .blu_33{color:#1B9AFF;}
.tb_33{
	padding:10px 5px 5px;
	background:#fff;
}
.tbItem_33{
	width:25%;
	height:70px;
	float:left;
	padding-right:5px;
	padding-bottom:5px;
}
.tbItem_33 .tbItemBg_33{
	position:relative;
	width:100%;
	height:100%;
	text-align:center;
	font-size:12px;
	color:#27242b;
	cursor:pointer;
	background-color:#fffbcc;
}
.tbItem_33 .tbItemBg_33 img{
	width:36px;
	height:36px;
	background-size:36px;
	margin-top:6px;
	margin-bottom:2px;
}
.sTab_33{
	width:100%;
	height:90px;
	background-color:#fff;
}
.sTab_33 p{
	color: #3C3C3C;
	font-size:14px;
	line-height:20px;
	padding:5px;
}
.sTabItem_33  li{
	position:relative;
	float:left;
	width:25%;
	height:70px;
	text-align:center;
	cursor:pointer;
}
.sTabItem_33  li img{
	width:67px;
	height:51px;
	background-size:67px 51px;
}
.hotT_33{
	height:32px;
	padding-left:5px;
	color: #3C3C3C;
	font-size:14px;
}
.list_33{
	position:relative;
	width:100%;
	height:64px;
	padding-left:62px;
	background-color:#fff;
	margin-bottom:3px;
}
.panIco_33{
	height:30px;
	width:30px;
	background-size:30px;
	position:absolute;
	left:0;
	top:0;
}
.proList_33{
	height:40px;
	width:40px;
	background-size:40px;
	position:absolute;
	left:15px;
	top:50%;
	margin-top:-20px;
}
.btnImg_33{
	height:36px;
	width:60px;
	background-image:url(/public/img/btn.png);
	background-size:60px 36px;
	position:absolute;
	right:10px;
	top:50%;
	margin-top:-18px;
}
.cot_33  h4{
	font-weight:normal;
	font-size:18px;
	color:#3C3C3C;
	padding-top:15px;
}
.cot_33  p{
	padding-top:6px;
	font-size:12px;
	color:#3C3C3C;
}
.numList_33{
	position:absolute;
	right:80px;
	top:18px;
	font-size:11px;
	color:#000;
}
.numList_33 span{color:#1B9AFF;}
.bList_33{
	height:100%;
	width:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:56;
	text-decoration:none;
}
.link{
	text-decoration:none;
}
@media only screen and (min-device-width:414px){
	.rb_33{height:140px;}
	.bitem_33{height:104px;}
}
@media only screen and (min-device-width:375px) and(max-device-width:413px){
	.rb_33{height:127px;}
	.bitem_33{height:94px;}
}
@media only screen and (min-device-width:241px) and (max-device-width:374px){
	.rb_33{height:108px;}
	.bitem_33{height:80px;}
}